.produtsViewContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.btn-primary {
  color: #white;
  background-color: #391485;
  border-color: #391485;
}

img.card-img-top {
  max-height: 286px;
}